@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/* =========MARGINS======== */

.mt-100 {
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-100 {
  margin-right: 100px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-20 {
  margin-right: 20px;
}

/* =========MARGINS======== */

/* =========FONR-WEIGHTS======== */

.w-light {
  font-weight: 300;
}
.w-regular {
  font-weight: 400;
}
.w-medium {
  font-weight: 500;
}
.w-semibold {
  font-weight: 600;
}
.w-bold {
  font-weight: 700;
}
.w-extrabold {
  font-weight: 800;
}
.w-black {
  font-weight: 900;
}
/* =========FONR-WEIGHTS======== */

body{
  font-family: 'Comfortaa', cursive;
}

/* =========JOINT STYLE========= */

.shadow-section {
  box-shadow: 0px 3px 28px 5px rgb(58, 196, 214);
}

.shadow-item {
  box-shadow: 0px 8px 17px 4px rgba(107, 196, 255, 1);
}

.btn-first-style {
  z-index: 1;
  border: none;
  position: relative;
  background: linear-gradient(to right, #3f6272, #325464);
  transition: all 0.25s ease;
}
.btn-first-style::before {
  content: "";
  z-index: -1;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to left, #536976, #3a5b68);
  border-radius: inherit;
  opacity: 0;
  transition: opacity 1.5s;
}
.btn-first-style:hover::before {
  opacity: 1;
  transition: opacity 1.5s;
}

/* =========JOINT STYLE========= */

/* =========SECTION======== */
section {
  padding: 30px;
  border-radius: 15px;
  background: linear-gradient(to right, #16222a, #3a6073);
}
.section-title {
  color: azure;
}
.section-description {
  color: gray;
  font-size: 20px;
}

.section-items{
  font-size: 20px;
}

.section-items input {
  width: 50px;
  border-radius: 8px;
}

/* =========SECTION======== */

.hipoten-section-btns {
  width: max-content;
  display: block;
}
