section{
    /* margin: 20px; */
    padding: 40px;
    border-radius: 4%;
    background-color: black;
}
.section-title{
    color: azure;
    margin-bottom: 20px;
}

.section-items{
    text-align: center;
}

.section-items > *{
    margin: 20px;
}