/* =========MARGINS======== */

.mt-100 {
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-100 {
  margin-right: 100px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-20 {
  margin-right: 20px;
}

/* =========MARGINS======== */

/* =========FONR-WEIGHTS======== */

.w-light {
  font-weight: 300;
}
.w-regular {
  font-weight: 400;
}
.w-medium {
  font-weight: 500;
}
.w-semibold {
  font-weight: 600;
}
.w-bold {
  font-weight: 700;
}
.w-extrabold {
  font-weight: 800;
}
.w-black {
  font-weight: 900;
}
/* =========FONR-WEIGHTS======== */

/* =========SECTION======== */
section {
  padding: 30px;
  border-radius: 4%;
  /* background: linear-gradient(to right, #232526, #414345); */
  background: linear-gradient(to right, #16222a, #3a6073);
  /* background-color: black; */
}
.section-title {
  color: azure;
}
.section-description {
  color: gray;
  font-size: 20px;
}

.blue-shadow {
  box-shadow: -2px 9px 28px 5px rgba(107, 196, 255, 1);
}

.gradient-first {
  transition: 3s;
  background: linear-gradient(to right, #536976, #292e49);
  opacity: 0.3;
  /* background: linear-gradient(to right, #bbd2c5, #536976); */
}
.gradient-first:hover {
  background: linear-gradient(to right, #536976, #292e49);
  opacity: 1;
}

.section-items input {
  width: 50px;
  border-radius: 25%;
}

/* =========SECTION======== */

.hipoten-section-btns {
  width: max-content;
  display: block;
}
